[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
flake8 = "*"
pipenv-setup = "*"

[packages]
pypiwin32 = "*"
click = "*"
setuptools-scm = "*"

[requires]
python_version = "3.6"
